<%- include('partials/header.ejs') %>

    <!-- Display the actual user's name -->
    <div class="container my-3">
        <h1>Heyy, <%= student["Name"] %>!</h1>
    </div>

<%- include('partials/footer.ejs') %>
