<%- include('partials/header.ejs') %>

    <form action="/email/credentials" method="post">
        Go to your <a href="https://myaccount.google.com/">Google Account</a>.
        Select Security.
        Under "How you sign in to Google," select 2-Step Verification.
        At the bottom of the page, select App passwords.
        Enter the name 'cs108-webdev-new'.
        Select Generate.
        To enter the app password, follow the instructions on your screen. The app password is the 16-character code that generates on your device.
        Select Done.
        Copy the 16-character code and paste it below.
        <input type="text" id="app_password" name="app_password" placeholder="Enter your 16-character code">
        <button type="submit">Submit</button>
    </form>

<%- include('partials/footer.ejs') %>