<%- include('partials/prelogin_header.ejs') %>
    
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 container display-box mt-5">
            <form action="/secret-question" method="post">
                <legend>Forgot Your Password?</legend>
                <!-- TODO: Add subtext like "No worries, ..." -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Show Secret Question</button>
            </form>
        </div>
    </div>

<%- include('partials/footer.ejs') %>