<%- include('partials/header.ejs') %>

    <div class="container">
        <!-- TODO: Add confetti falling (similar to how Google does it) -->
        <h1>Your match is...</h1>
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-center">
                    <!-- NOTE: Insert Image URL here -->
                    <img class="rounded-top img-fluid" src="https://images.unsplash.com/photo-1711810805616-565b5f277d1a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <button type="button" class="btn btn-primary rounded-bottom">Like &hearts;</button>
                </div>
                <!-- TODO: Implement like button logic -->
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-between">
                <!-- NOTE: Insert generated description para here -->
                <!-- TODO: Attempt dynamic updation of font size based on screen width -->
                <p class="lead text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet deleniti, explicabo odit illo cumque nihil quo fugit possimus tempore debitis ipsa aut? Id quasi hic odio corporis, porro corrupti.
                </p>
                <div class="row">
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1">View Profile</a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1">Send a QuickChat<sup>&trade;</sup></a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1">Connect via Email</a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-secondary flex-grow-1" href="scroll_or_swipe.html">View More Profiles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>