.link-style {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Use the same color as surrounding text */
}

.link-style:hover {
    text-decoration: underline; /* Add underline on hover for indication */
}

.fixed-height {
    height: 80vh;
}